<div class="card text-white bg-dark">
    <div class="card-body">
        <p>
            The information on this site, unless otherwise attributed, is the
            sole opinion of its author and should not be construed as reflecting
            the views of any organization or employer unless explicitly
            stated.</p>
        <p>
            Copyright &copy; {{ site.time | date: "%Y" }} - <a href="https://www.safnet.com"
                class="text-primary">Stephen A. Fuqua</a>.
            Content and design are published under the Creative Commons <a
                href="http://creativecommons.org/licenses/by-sa/3.0/" class="text-primary">
                Attribution - ShareAlike 3.0</a> License. Unless otherwise stated or granted, source code is licensed
            under the <a href="/LICENSE" class="text-primary">MIT license</a>.
        </p>
    </div>
</div>
