<div class="container">
    <div class="row">
      <div class="col-sm-12">

        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Stephen A. Fuqua</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="https://www.safnet.com" title="Writing on Religion, Environment, Birds, and other Topics ">Social Blog</a>
                </li>
                <li class="active"><a href="https://stephenfuqua.github.io" title="Writing on .NET, JavaScript, TDD, Software Development in General">Technical Blog</a>
                </li>
                <li><a href="https://www.safnet.com/portfolio.html" title="Web Design Portfolio">Portfolio</a>
                </li>
                <li><a href="https://www.safnet.com/about.html" title="About this site">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <section class="col-sm-12">
          <div class="jumbotron">
          </div>
        </section>
    </div>
  </div>