---
layout: page
permalink: /tags
title: Browse articles by tag
---

<div class="accordion" id="accordion">
    {% assign sortedTags = site.tags | sort | order: 'title' %}
    {% for tag in sortedTags %}
    <div class="card mb-2 border-light">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        {% capture slug %}{{ tag_name | slugize }}{% endcapture %}
        <div class="card-header" id="heading{{ slug }}">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse{{ slug }}" aria-expanded="true" aria-controls="collapse{{ slug }}">
                    {{ tag_name }}
                </button>
            </h2>
        </div>
        <div id="collapse{{ slug }}" class="collapse" aria-labelledby="heading{{ slug }}" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-striped mt-3">
                    {% for post in site.tags[tag_name] %}
                    <tr>
                        <td width="15%">
                            {{ post.date | date_to_string }}</td>
                        <td><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
