---
layout: default
---

<header id="post-header">
    <h1 id="post-title">{{ page.tag }}</h1>
    <h4 id="post-subtitle">Articles by tag</h4>
</header>

<div id="post-content">
    {% if site.tags[page.tag] %}

    <div class="table-responsive">
      <table class="table table-striped" style="margin-top: 2rem;">

        {% for post in site.tags[page.tag] %}
            <tr>
                <td>
                {{ post.date | date_to_string }}</td>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></td>
            </tr>
        {% endfor %}

      </table>
    </div>
    {% else %}
    <p>There are no posts for this tag.</p>
    {% endif %}
</div>
