{% include head.html %}

<body>
    {% include header.html %}
    <section>
        <div class="container">
            <div class="row">
                <section class="col-sm-9">
                    <div id="content" class="inner">{{ content }}</div>
                </section>
                <section id="sidebar" class="col-sm-3" style="margin-top: 1em;">
                    <div id="about" class="well">
                        <h1>About</h1>
                        <p>Stephen A. Fuqua (SAF) is a Bahá'í, software developer, and conservation and interfaith advocate who lives in Austin, Texas, USA.</p>
                    </div>
                    <div id="recentposts" class="well">
                        <h1>Recent Posts</h1> {% for post in site.posts limit:10 %}
                        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </div>
                    <div id="logcontent" class="well">
                        <h1>Meta</h1>
                        <p>Archives: <a href="http://www.safnet.com/archives.html">Blog</a> &middot; <a href="/archive/index.html">Tech</a>
                        </p>
                        <p>Feeds: <a href="http://www.safnet.com/atom.xml">Blog</a> &middot; <a href="/feed.xml">Tech</a>
                        </p>
                        <div id="tagcloud">
                        	<!-- TODO -->
                        </div>
                    </div>
                </section>
                </div>
                </div>
    </section>
    <footer id="footer" class="inner">
        <div class="container well">
            {% include footer.html %}
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>

</html>