{% include head.html %}

<body>
    {% include header.html %}
    <section>
        <div class="container">
            <div class="row">
                <section class="col-sm-9">
                    <div id="content" class="inner">{{ content }}</div>
                </section>
                <section id="sidebar" class="col-sm-3" style="margin-top: 1em;">
                    <div id="recentposts" class="well">
                        <h1>Recent Posts</h1> {% for post in site.posts limit:10 %}
                        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </div>
                    <div id="logcontent" class="well">
                        <h1>Meta</h1>
                        <p>
                            <a href="/archive">All Posts</a>
                        </p>
                        <p>
                            <a href="/feed.xml"><i class="fas fa-rss"><span class="sr-only">RSS</span></i></a>&nbsp;
                            <a href="https://www.github.com/stephenfuqua"><i class="fab fa-github"><span class="sr-only">GitHub</span></i></a>&nbsp;
                            <a href="https://www.linkedin.com/in/stephenfuqua/"><i class="fab fa-linkedin-in"><span class="sr-only">LinkedId</span></i></a>&nbsp;
                            <a href="https://www.twitter.com/stephen_fuqua"><i class="fab fa-twitter"><span class="sr-only">Twitter</span></i></a>
                        </p>
                    </div>
                </section>
                </div>
                </div>
    </section>
    <footer id="footer" class="inner">
        <div class="container well">
            {% include footer.html %}
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>

</html>
