body {
    font-size: 16px;
    font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
}


.jumbotron {
    background: transparent url(../images/mexicanHat.png) no-repeat;
    margin: 0;
    height: 250px;
    position: relative
}
.jumbotron h1 a {
    color: white;
    text-decoration: none;
}
.jumbotron h1 a:hover {
    background-color: none!important;
}
.j-text {
    color: white;
    text-transform: lowercase;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    position: absolute;
    bottom: 0;
    left: 1rem;
}




.float-right {
    float: right;
    margin: 0 0 1em 1em
}

.float-left {
    float: left;
    margin: 0 1em 1em 0;
}


.jumbotron .heading {
    position: relative;
    left: -2em;
    top: -.5em;
    padding: 0;
    margin: 0;
}


#content {
    margin-top: 0;
    padding-top: 1em;
    border: none;
}

#sidebar .block {
    background-color: #ACB7A9;
    padding: .5em;
    margin: 0 0 1em 0;
}

#sidebar h1 {
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    margin: 0 0 .5em 0;
    font-weight: 700;
}

#sidebar .well ul {
    margin: 0;
    padding: 0;
}

#sidebar .well li {
    list-style: outside none none;
    font-size: .9em;
    line-height: 1.1em;
    margin-bottom: 5px;
    margin-left: 0;
}

footer {
    margin-top: 1em;
}

.asset-footer {
    clear: both;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.img-border {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 2rem;
}

.fa-links {
    margin-top: 1rem;
}
.fa-links a {
    color: gray;
}

a {
	text-decoration: none;
    color: #60774F;
}
a:hover {
	text-decoration: underline;
}

.meta {
	margin-bottom: 1em;
}

.post {
	margin-bottom: 3em;
}


.center-block {
    text-align: center;
}

.center-block img {
    margin: 1em auto 0 auto;
    display: block;
}

.entry-content p {
	margin-bottom: 1.25em;
}

.bg-dark a {
    color: reset;
}

blockquote {
    margin-left: 3rem;
    padding-left: 1rem;
    border-left: 0.2rem solid #ccc;
}

li {
    margin-bottom: 1rem;
}
